
.icon-people-group:before { content: '\e800'; } /* '' */
.icon-place:before { content: '\e801'; } /* '' */
.icon-tiktok:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-user-calendar:before { content: '\e804'; } /* '' */
.icon-user-warning:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-vk:before { content: '\e807'; } /* '' */
.icon-warning:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-account:before { content: '\e80a'; } /* '' */
.icon-at:before { content: '\e80b'; } /* '' */
.icon-date-time:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-message:before { content: '\e813'; } /* '' */
.icon-activity:before { content: '\e814'; } /* '' */
.icon-close:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-map:before { content: '\e818'; } /* '' */
.icon-map-time:before { content: '\e819'; } /* '' */
.icon-money:before { content: '\e81a'; } /* '' */
.icon-more:before { content: '\e81b'; } /* '' */
.icon-notification:before { content: '\e81c'; } /* '' */
.icon-people:before { content: '\e81d'; } /* '' */
.icon-terms:before { content: '\e81e'; } /* '' */
.icon-time-history:before { content: '\e81f'; } /* '' */
.icon-filter:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e821'; } /* '' */
.icon-play:before { content: '\e822'; } /* '' */
.icon-stop:before { content: '\e824'; } /* '' */
.icon-edit:before { content: '\e825'; } /* '' */
.icon-edit-image:before { content: '\e826'; } /* '' */
.icon-edit-location:before { content: '\e827'; } /* '' */
.icon-edit-video:before { content: '\e828'; } /* '' */
.icon-search-1:before { content: '\e82a'; } /* '' */
