@font-face {
    font-family: 'Lena';
    src: url('./Lena.eot');
    src: local('Lena'),
        url('./Lena.eot?#iefix') format('embedded-opentype'),
        url('./Lena.woff2') format('woff2'),
        url('./Lena.woff') format('woff'),
        url('./Lena.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

